h2 {
    margin: 0;
}

h1 {
    margin: 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #527CCD;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.app__wrapper {
    width: 1160px;
    overflow: hidden;
}

.content__wrapper {
    display: flex;
    margin-top: 20px;
}

.range {
    position: relative;
    border: 1px solid #C8D9FB;
    width: 360px;
}

.range__width {
    position: absolute;
    bottom: -1px;
    left: -1px;
    border: 1px solid #527CCD;
}

.top-line__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.switch__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.buttons__wrapper {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.rangebar__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hover-btn:hover {
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: #c8d9fb;
}

.item__wrapper {
    margin-right: 36px;
    width: 260px;
    height: 378px;
    padding: 20px;
    border: 1px solid #C8D9FB;
}

.create-time__wrapper span {
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #527CCD;
}

.title__wrapper h2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #527CCD;
}

.description__wrapper span {
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #527CCD;
}

.text__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 168px;
}